*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	background: #00000082!important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 100;
    font-size: 20px;
}
.b{
    text-align: center;
}
.weblogo{
    	width: 65px;
}
.moblogo{
    	display: none;
}
.img{
    width: 75%;
    /*height: 650px;*/
}
@media(max-width: 768px)
{
    .moblogo{
    	display: block;
    }
    .weblogo{
    	display: none;
    }
    .navbar{
    	background: #fcb21c!important;
    }
    .img{
        width: 75%;
        /*height: 650px;*/
    }
    .mob-banner{
        display: block!important;
    }
    .banner{
        display: none!important;
    }
    .ab{
        font-size: 50px!important;
    }
}

.box{
	position: relative;
}
.banner{
	display: block;
}
.mob-banner{
	display: none;
}
.img-title{
	position: absolute;
    color: #fff;
    text-align: center;
    left: 0%;
    right: 0;
    top: 45%;
    font-size: 70px;
    letter-spacing: 4px;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
}
.ab{
	font-size: 3.5rem;
}

.img3{
	width: 317px;
	margin-top: 43px;
}
.mainfooter{
	background: #020306f0;
    padding: 50px;
    color: #fff;
}
.img1{
	width: 50%;
	margin-top: 30px;
}
.ml-3{
    font-family: 'prague';
	font-size: 40px;
	line-height: 50px;
    letter-spacing: 3px;
	color: #fff;
}
.p1{
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 1px;
	text-align: justify;
    color: #fff;
}
.foot-add{
	padding: 15px;
}
.strg{
	color: #fcb21b;
	font-family: 'Montserrat',sans-serif;
	font-weight: 200;
	font-size: 18px;
}
.a{
	color: #fcb21b;
	text-decoration: none;
	font-size: 18px;
}
.icon{
	color: #fcb21b;
	font-size: 2em;
}
.footer{
	background-color: #000;
	padding-top: 27px;
	padding-bottom: 17px;
}
.bl{
	font-size: 14px;
    color: white;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.bl1{
	color: #fff;
	text-decoration: none;
}